<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="companyAccountData" xsi:type="object">Tigren\CompanyAccount\Model\AddressConfigProvider</item>
                <item name="isInAvailableAccount" xsi:type="object">Tigren\CompanyAccount\Model\IsInAvailableAccount</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\Registration">
        <plugin name="CompanyAccount::disableRegistration" type="Tigren\CompanyAccount\Plugin\Customer\DisableRegistration"/>
    </type>
</config>
